<header>


<p class="tagline">Welcome to the Friends Of Box Hill Website</p>



<div class="title_section">
<%=image_tag("fobh-boxtree.jpg", :alt=>"Coursework App")%>
</div>


<div class="space">
<nav>
<ul>
<li><%=link_to "Home", root_path%></li>
<li><%=link_to "About", about_path%></li>
<li><%=link_to "Events", events_path%></li>
<li><%=link_to "Publications", publications_path%></li>
<li><%=link_to "Contact Us", contact_path%></li>
<li><%=link_to "Sign in", "#"%></li>
<li><%=link_to "Register", signup_path%></li>

</ul>
</nav>
</div>


</header>










 
